// settings
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');


$font-main: "Rethink Sans", sans-serif; //change
$fontIcon: "icomoon";

:root {
    --red: #1b26be;
    --red-2: #4753ff;
    --gray-light: #D6E8EB;
    --black: #0C171A;
    --black-2: #16188c;
    --black-3: #171717;
    --black-4: #20265B;
    --black-5: #020D2B;
    --gray-dark: #EEF0F2;
    --gray-1: #EFF8FA;
    --gray-2: #FAF7EF;
    --gray-3: #EEF1F9;
    --gray-4: #F1FAFB;
    --gray-5: #D7ECE4;
    --gray-6: #F0F4F8;
    --white: #FFFFFF;
    --cayent: #8f95eb;
    --yellow: #FFEC21;
    --yellow-2: #EFD813;
    --yellow-3: #FDB517;
    --green: #4CAF80;
    --green-2: #38A0A7;
    --green-3: #5DB996;
    --pink: #F1AAFA;
    --blue: #259CF4;
    --blue-2: #3744FE;
    --blue-3: #00A1DE;
    --blue-4: #0B55E5;
    --purple: #9588E8;
    --border: #EEEFEF;
    --border-2: #EDE8F3;
    --border-3: #EBEDFF;
    --border-4: #FFFFFF1A;
    --border-5: rgba(2, 13, 43, 0.1);
    --border-6: #FFFFFF33;
    --border-7: rgba(12, 23, 26, 0.1);
    --border-8: rgba(23, 23, 23, 0.1);
    --border-9: rgba(32, 38, 91, 0.1);
    --border-10: rgba(255, 255, 255, 0.2);
    --border-11: rgba(255, 255, 255, 0.15);
    --border-12: rgba(93, 50, 34, 0.1);
    --color-title: #0C171A;
    --color-paragraph: #666B68;
    --color-text: #FFFFFFA6;
    --color-text-2: rgba(12, 23, 26, 0.5);
    --color-text-3: rgba(255, 255, 255, 0.65);
    --color-text-4: rgba(255, 255, 255, 0.75);
    --color-text-5: rgba(12, 23, 26, 0.2);
    --bg-1: #FFFFFF0D;
    --bg-2: #F5F5F3;
    --bg-3: #1d52b5;
    --bg-4: #DBE6FB;

}
